Tab1.json
[{"id":"277b527e.d3655e","type":"ibmiot","z":"dc4d1d0b.c67758","name":"oh-Grovepi-1"},{"id":"5243365e.5afe3","type":"board-config","z":"dc4d1d0b.c67758","board":"GrovePi"},{"id":"da9a0254.99da","type":"grove digital sensor","z":"dc4d1d0b.c67758","name":"Temp&Hum","board":"5243365e.5afe3","sensor":"temphum","repeat":"1","pin":"7","x":140,"y":261,"wires":[["9ce45b7c.382278","b405684e.877b38"]]},{"id":"9ce45b7c.382278","type":"debug","z":"dc4d1d0b.c67758","name":"","active":false,"console":"false","complete":"false","x":384,"y":194,"wires":[]},{"id":"89db12a6.f583d8","type":"ibmiot out","z":"dc4d1d0b.c67758","authentication":"apiKey","apiKey":"277b527e.d3655e","outputType":"evt","deviceId":"oh-grovepi-1","deviceType":"OH-GrovePi","eventCommandType":"info","format":"json","data":"{d:{\"test\":1}}","name":"IBM IoT","service":"registered","x":604,"y":335,"wires":[]},{"id":"b405684e.877b38","type":"function","z":"dc4d1d0b.c67758","name":"SetJSON","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"oh-grovepi-1\", \n            \"temperature\":msg.payload.temperature,\n            \"humdity\": msg.payload.humdity,\n            \"heatIndex\" : msg.payload.heatIndex\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":351,"y":334.5,"wires":[["89db12a6.f583d8","96c7543c.4f0118"]]},{"id":"96c7543c.4f0118","type":"debug","z":"dc4d1d0b.c67758","name":"","active":false,"console":"false","complete":"false","x":512,"y":281,"wires":[]}]