NodeRedFlows/Tab2.json
[{"id":"5243365e.5afe3","type":"board-config","z":"dc4d1d0b.c67758","board":"GrovePi"},{"id":"277b527e.d3655e","type":"ibmiot","z":"dc4d1d0b.c67758","name":"oh-Grovepi-1"},{"id":"fe4500f2.dd34e","type":"ibmiot in","z":"30ea88c3.34ab48","authentication":"apiKey","apiKey":"277b527e.d3655e","inputType":"cmd","deviceId":"OH-GrovePi","applicationId":"","deviceType":"+","eventType":"+","commandType":"lcd-set","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"x":135,"y":142,"wires":[["425e597d.e706c8","a434872b.fe0888"]]},{"id":"425e597d.e706c8","type":"debug","z":"30ea88c3.34ab48","name":"","active":false,"console":"false","complete":"false","x":334,"y":95.5,"wires":[]},{"id":"a434872b.fe0888","type":"function","z":"30ea88c3.34ab48","name":"Set LCD Info","func":"var lcd = {\n    \"text\" : msg.payload.d.text,\n    \"rgb\" : msg.payload.d.rgb\n}\n\nmsg.payload = lcd; \n\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":212,"wires":[["100cacc5.9160e3","14c73861.307b58"]]},{"id":"100cacc5.9160e3","type":"grove lcdrgb output","z":"30ea88c3.34ab48","name":"LCD RGB Display","board":"5243365e.5afe3","pin":"1","x":609,"y":215.5,"wires":[]},{"id":"14c73861.307b58","type":"debug","z":"30ea88c3.34ab48","name":"","active":false,"console":"false","complete":"false","x":579,"y":154.5,"wires":[]}]